/********** VARIABLES **********/
:root {
    --Beige: #DDC3A5;
    --Black-brown: #201E20;
    --Tan: #E0A96D;
}
/********** END VARIABLES **********/

/********** GENERAL STYLING **********/
* {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

section {
    color: var(--Black-brown);
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 5px 20px;
    min-height: 400px; /* Temporary - this is just so I have more page to scroll */
}

.my-name-intro {
    font-family: 'Pacifico', cursive;
    font-size: 4vmin;
}

.my-name {
    font-family: 'Anton', sans-serif;
    font-size: 8vmin;
    font-weight: 700;
    letter-spacing: .2rem;
}

figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figcaption {
    text-align: center;
    font-size: max(3vmin, 14px); /* Font will be no smaller than 14px */
    width: 100%;
    max-width: 600px;
    height: auto;
    max-height: fit-content;
    align-self: center;
    padding: 0 5px 10px 5px;
}

figure img {
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 500px;
    align-self: center;
    border-radius: 5px;
    /* 
    padding: 0 5px; - Padding removes border radius
    */
}

h1 {
    text-align: center;
    font-size: 10vmin;
    margin-top: 20px;
}
/********** END GENERAL STYLING **********/

/********** NAVBAR STYLING **********/
nav {
    display: block;
    box-sizing: border-box;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--Black-brown);
    padding: 15px 10px 15px 15px;
    text-align: right;
}

nav > a {
    color: var(--Beige);
    text-align: center;
    font-size: max(3vmin, 13px);
    font-weight: 700;
    padding-left: 20px;
    cursor: pointer;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
}

nav > a:active {
    color: var(--Tan);
}

/********** END NAVBAR STYLING **********/

/* Section Backgrounds */
#home {
    background-color: var(--Beige);
}

#about {
    background-color: var(--Tan);
}

#projects {
    background-color: var(--Beige);
}

#contact {
    background-color: var(--Tan);
}



